{% extends "bootstrap/base.html" %}
{% block title %}Literature Recommendation Software (v0.2.4){% endblock %}
{% block head %}
  {{ super() }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- <script src="src/bootstrap-rating-input.js"></script> -->
  <script src="{{url_for('static', filename='js/bootstrap-rating-input.min.js')}}"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
  <script>
  function validateForm() {
    var engine_rating_0 = document.forms["myForm"]["engine_rating_0"].value;
    var rate_0_0 = document.forms["myForm"]["rate_0_0"].value;
    var rate_0_1 = document.forms["myForm"]["rate_0_1"].value;
    var rate_0_2 = document.forms["myForm"]["rate_0_2"].value;
    var rate_0_3 = document.forms["myForm"]["rate_0_3"].value;
    var rate_0_4 = document.forms["myForm"]["rate_0_4"].value;

    var engine_rating_1 = document.forms["myForm"]["engine_rating_1"].value;
    var rate_1_0 = document.forms["myForm"]["rate_1_0"].value;
    var rate_1_1 = document.forms["myForm"]["rate_1_1"].value;
    var rate_1_2 = document.forms["myForm"]["rate_1_2"].value;
    var rate_1_3 = document.forms["myForm"]["rate_1_3"].value;
    var rate_1_4 = document.forms["myForm"]["rate_1_4"].value;

    var engine_rating_2 = document.forms["myForm"]["engine_rating_2"].value;
    var rate_2_0 = document.forms["myForm"]["rate_2_0"].value;
    var rate_2_1 = document.forms["myForm"]["rate_2_1"].value;
    var rate_2_2 = document.forms["myForm"]["rate_2_2"].value;
    var rate_2_3 = document.forms["myForm"]["rate_2_3"].value;
    var rate_2_4 = document.forms["myForm"]["rate_2_4"].value;

    var engine_rating_3 = document.forms["myForm"]["engine_rating_3"].value;
    var rate_3_0 = document.forms["myForm"]["rate_3_0"].value;
    var rate_3_1 = document.forms["myForm"]["rate_3_1"].value;
    var rate_3_2 = document.forms["myForm"]["rate_3_2"].value;
    var rate_3_3 = document.forms["myForm"]["rate_3_3"].value;
    var rate_3_4 = document.forms["myForm"]["rate_3_4"].value;


    if (engine_rating_0.length == 0 || rate_0_0.length == 0 ||
    rate_0_1.length == 0 || rate_0_2.length == 0 || rate_0_3.length == 0 || rate_0_4.length == 0 ||
    engine_rating_1.length == 0 || rate_1_1.length == 0 || rate_1_2.length == 0 || rate_1_3.length == 0 || rate_1_4.length == 0 ||
    engine_rating_2.length == 0 || rate_2_1.length == 0 || rate_2_2.length == 0 || rate_2_3.length == 0 || rate_2_4.length == 0 ||
    engine_rating_3.length == 0 || rate_3_1.length == 0 || rate_3_2.length == 0 || rate_3_3.length == 0 || rate_3_4.length == 0
    ) {
      alert("Please rate all items and models!");
      return false;
    }
  }
  </script>
  <style>
    .star-color {
      color: orange;
      font-size: 20px;
    }
    .heart-color {
      color: red;
      font-size: 30px;
    }
    .input-text {
      width: 100%;
      min-height: 150px
    }

  </style>
{% endblock %}

{% block content %}

<div class="container" style="padding-bottom: 50px">
    <h1>Literature Recommendation Software (v0.2.4)</h1>
    <form action="" method="post">
      <p>
        Hello <select name="user_name"><option value="florian" selected>Florian</option><option value="melike">Melike</option><option value="faruk">Faruk</option></select>!
        We are appreciated for your help to make this recommendation engine better ❤ <br />
        We kindly ask you:
        <ul>
          <li>1. to provide a paragraph with a couple words</li>
          <li>2. click the 'Suggest' button below to refine recommendations</li>
          <li>(You will see 5 recommended items from 4 different models)</li>
          <li>3. Compare models in general. Give overall ratings to recommendation engines(models) using heart rating bars.</li>
          <li>4. Rate recommended items in each model.
            Each model has 5 recommended items that are sorted by similarities. The most similar item takes place at top.
            Rate items in each model individually. In each model, Give 5 stars to an item that you found the most similar one out of 5 items. Give 4 stars to the less similar item, and so on.
          </li>
          <li>5. Click the 'Rate' button at the very bottom to save your ratings.</li>
        </ul>
      </p>
      <h3>Affects of the number of words used in input</h3>
      <p>
        We would like to give a hint for you to test models by 'good' input text. Recommendation quality varies based on input texts. At first, test the system with the input text that you want. Then, try to change the input text(increase or decrease the number of words that you use) and give a rating.

        <iframe width="736" height="455" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR0rPzUe7zfBQuYbePWyJKLhTMvT-H1YflTGvATG4a8PiNISrN8ax_ULzY9QJRG0dyJcAR9GtEXXKu8/pubchart?oid=1711490508&amp;format=interactive"></iframe>
      </p>

        Example input from TAR_6:
        <div class="input textarea" style="width: 100%; min-height: 150px;">
            {{form.name.label}} {{form.name}}
        </div>
        <div class="input submit">
            <input type="submit" value="Suggest" style="background: green; color: white; width: 100px; height: 50px">
        </div>
        <input type="hidden" name="action" value="recommendation">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'rating' %}
            {{message}}
        {% endif %}
    {% endfor %}
    {% endwith %}

    {% if is_rated == False %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <h2>Recommendations:</h2>
      <form name="myForm" action="" method="post" onsubmit="return validateForm()">
          If you took the input from a paper and you are expecting to see it in the recommended items, please give the DOI of this paper in a format like '10.2308/accr-10038' below.
          <br /><input name="input_item_name" placeholder="DOI of the paper like '10.2308/accr-10038'" style="width: 400px; height: 50px" />(optional)<br />
        We will use this information to adjust the parameters of the models to give better results based on user expectations.
          <table width="100%">
            <tr>
              {% for category, message in messages %}
                  {% if category != 'table' and category != 'rating' %}
                      <td colspan="1">{{message}}</td>
                  {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <td colspan="2" style="text-align: center">
                <input type = "submit" value = "Rate" style="background: orange; color: white; width: 100px; height: 40px" />
              </td>
            </tr>
          </table>
      </form>

      {% endif %}
      {% endwith %}
    {% endif %}

</div>
    {% if is_rated == False and False %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="container">
          <h2>Topic Table</h2>
      </div>

      <div style="margin: 0 50px">
          {% for category, message in messages %}
              {% if category == 'table' %}
                  {{message}}
              {% endif %}
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    {% endif %}
</div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}
