{% extends "bootstrap/base.html" %}
{% block title %}Test first recommender engine (v0.0.2){% endblock %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- <script src="src/bootstrap-rating-input.js"></script> -->
<script src="{{url_for('static', filename='js/bootstrap-rating-input.min.js')}}"></script>

<style>
  .star-color {
    color: orange;
    font-size: 20px;
  }
  .heart-color {
    color: red;
    font-size: 20px;
  }

</style>
<div class="container">
    <h1>Test first recommender engine (v0.0.4)</h1>
    <p>
        The model used here is trained with following properties: <br/>
    <ul>
        <li>All dataset which has 15219 documents used. It also includes accounting irrelevant data. Later we are going to exclude them.
        </li>
        <li>Only the first 3 pages of the papers are used in the training</li>
        <li>Pipeline:
          <ol>
            <li>Cleaned</li>
            <li>Remove Non-English Sentences</li>
            <li><a href="https://docs.google.com/spreadsheets/d/1gLMiZNt-5gCKAkWJ4fxMvqbStbpTudL_/edit?usp=drive_web&ouid=105629648561424699499&rtpof=true">Remove journal names and unwanted words</a><strong>(new)</strong></li>
            <li>Stopwords Removed</li>
            <li>Lemmatized</li>
            <li>LDA Model<strong>(updated: use 50 topics)</strong></li>
            <li>Similarity Measurement (Cosine)</li>
            <li>Recommendation</li>
          </ol>
        </li>
        <li>In total 12993 stopwords are removed: <a target="_blank"
                                                           href="https://drive.google.com/file/d/1gZfPtIQyQ82u12ScEvEndMMujfrnh8Gd/view?usp=sharing">University
            of Notre Dome accounting stopwords</a>, <a target="_blank"
                                                             href="https://drive.google.com/file/d/1jwhQ8TrcAoSJ8QWhjJ_prgrvxe6LWK_Z/view?usp=sharing">standard
            english</a>, <a target="_blank"
                                 href="https://drive.google.com/file/d/1op134plHcerwUds8E44Lw9gsI316Pus3/view?usp=sharing">MALLET English Stopwords</a>, <a target="_blank"
                                 href="https://drive.google.com/file/d/1JMpcfriApigcV54q4ZPOE7GX8iwNgGBI/view?usp=sharing">MALLET French Stopwords</a>
        </li>
        <li>All words except NOUN', 'ADJ', 'VERB', 'ADV' are removed</li>
        <li>NUM_OF_TOPICS = 50, NUM_OF_WORDS_IN_EACH_TOPIC = 20 set in LDA model</li>
        <li>For detail: <a target="_blank"
                           href="https://tum-idp-ws-20.github.io/doc/milestone-1-datapreprocessing-steps-comparison-based-on-LDA">https://tum-idp-ws-20.github.io/doc/milestone-1-datapreprocessing-steps-comparison-based-on-LDA</a>
        </li>
    </ul>
    </p>
    <form action="" method="post">
        Example input from TAR_6:
        <div class="input textarea">
            {{form.name.label}} {{form.name}}
        </div>
        <div class="input submit">
            <input type="submit" value="Suggest" style="background: green; color: white; width: 100px; height: 50px">
        </div>
        <input type="hidden" name="action" value="recommendation">
    </form>
    {% set is_rated = False %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'rating' %}
            {% set is_rated = True %}
            {{message}}
        {% endif %}
    {% endfor %}
    {% endwith %}

    {% if is_rated == False %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <h2>Recommendations:</h2>
      {% for category, message in messages %}
          {% if category != 'table' and category != 'rating' %}
              {{message}}
          {% endif %}
      {% endfor %}

      {% endif %}
      {% endwith %}
    {% endif %}

</div>
    {% if is_rated == False %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="container">
          <h2>Topic Table</h2>
      </div>

      <div style="margin: 0 50px">
          {% for category, message in messages %}
              {% if category == 'table' %}
                  {{message}}
              {% endif %}
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    {% endif %}
</div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}
