{% extends "bootstrap/base.html" %}
{% block title %}Test first recommender engine (v0.0.2){% endblock %}

{% block content %}
<style type="text/css">
    {
        margin: 0;
        padding: 0;
    }
    .clear {
        clear: both;
    }
        .rate0 {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate0:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate0:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate0:not(:checked) > label:before {
        content: '★ ';
    }
    .rate0 > input:checked ~ label {
        color: #ffc700;
    }
    .rate0:not(:checked) > label:hover,
    .rate0:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate0 > input:checked + label:hover,
    .rate0 > input:checked + label:hover ~ label,
    .rate0 > input:checked ~ label:hover,
    .rate0 > input:checked ~ label:hover ~ label,
    .rate0 > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

        .rate1 {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate1:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate1:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate1:not(:checked) > label:before {
        content: '★ ';
    }
    .rate1 > input:checked ~ label {
        color: #ffc700;
    }
    .rate1:not(:checked) > label:hover,
    .rate1:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate1 > input:checked + label:hover,
    .rate1 > input:checked + label:hover ~ label,
    .rate1 > input:checked ~ label:hover,
    .rate1 > input:checked ~ label:hover ~ label,
    .rate1 > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
        .rate2 {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate2:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate2:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate2:not(:checked) > label:before {
        content: '★ ';
    }
    .rate2 > input:checked ~ label {
        color: #ffc700;
    }
    .rate2:not(:checked) > label:hover,
    .rate2:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate2 > input:checked + label:hover,
    .rate2 > input:checked + label:hover ~ label,
    .rate2 > input:checked ~ label:hover,
    .rate2 > input:checked ~ label:hover ~ label,
    .rate2 > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

        .rate3 {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate3:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate3:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate3:not(:checked) > label:before {
        content: '★ ';
    }
    .rate3 > input:checked ~ label {
        color: #ffc700;
    }
    .rate3:not(:checked) > label:hover,
    .rate3:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate3 > input:checked + label:hover,
    .rate3 > input:checked + label:hover ~ label,
    .rate3 > input:checked ~ label:hover,
    .rate3 > input:checked ~ label:hover ~ label,
    .rate3 > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

        .rate4 {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate4:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate4:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate4:not(:checked) > label:before {
        content: '★ ';
    }
    .rate4 > input:checked ~ label {
        color: #ffc700;
    }
    .rate4:not(:checked) > label:hover,
    .rate4:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate4 > input:checked + label:hover,
    .rate4 > input:checked + label:hover ~ label,
    .rate4 > input:checked ~ label:hover,
    .rate4 > input:checked ~ label:hover ~ label,
    .rate4 > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
</style>
<div class="container">
    <h1>Test first recommender engine (v0.0.4)</h1>
    <p>
        The model used here is trained with following properties: <br/>
    <ul>
        <li>All dataset which has 15219 documents used. It also includes accounting irrelevant data. Later we are going to exclude them.
        </li>
        <li>Only the first 3 pages of the papers are used in the training</li>
        <li>Pipeline:
          <ol>
            <li>Cleaned</li>
            <li>Remove Non-English Sentences</li>
            <li><a href="https://docs.google.com/spreadsheets/d/1gLMiZNt-5gCKAkWJ4fxMvqbStbpTudL_/edit?usp=drive_web&ouid=105629648561424699499&rtpof=true">Remove journal names and unwanted words</a><strong>(new)</strong></li>
            <li>Stopwords Removed</li>
            <li>Lemmatized</li>
            <li>LDA Model<strong>(updated: use 50 topics)</strong></li>
            <li>Similarity Measurement (Cosine)</li>
            <li>Recommendation</li>
          </ol>
        </li>
        <li>In total 12993 stopwords are removed: <a target="_blank"
                                                           href="https://drive.google.com/file/d/1gZfPtIQyQ82u12ScEvEndMMujfrnh8Gd/view?usp=sharing">University
            of Notre Dome accounting stopwords</a>, <a target="_blank"
                                                             href="https://drive.google.com/file/d/1jwhQ8TrcAoSJ8QWhjJ_prgrvxe6LWK_Z/view?usp=sharing">standard
            english</a>, <a target="_blank"
                                 href="https://drive.google.com/file/d/1op134plHcerwUds8E44Lw9gsI316Pus3/view?usp=sharing">MALLET English Stopwords</a>, <a target="_blank"
                                 href="https://drive.google.com/file/d/1JMpcfriApigcV54q4ZPOE7GX8iwNgGBI/view?usp=sharing">MALLET French Stopwords</a>
        </li>
        <li>All words except NOUN', 'ADJ', 'VERB', 'ADV' are removed</li>
        <li>NUM_OF_TOPICS = 50, NUM_OF_WORDS_IN_EACH_TOPIC = 20 set in LDA model</li>
        <li>For detail: <a target="_blank"
                           href="https://tum-idp-ws-20.github.io/doc/milestone-1-datapreprocessing-steps-comparison-based-on-LDA">https://tum-idp-ws-20.github.io/doc/milestone-1-datapreprocessing-steps-comparison-based-on-LDA</a>
        </li>
    </ul>
    </p>
    <form action="" method="post">
        Example input from TAR_6:
        <div class="input textarea">
            {{form.name.label}} {{form.name}}
        </div>
        <div class="input submit">
            <input type="submit" value="Suggest" style="background: green; color: white; width: 100px; height: 50px">
        </div>
        <input type="hidden" name="action" value="recommendation">
    </form>
    {% set is_rated = False %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'rating' %}
            {% set is_rated = True %}
            {{message}}
        {% endif %}
    {% endfor %}
    {% endwith %}

    {% if is_rated == False %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <h2>Recommendations:</h2>
      {% for category, message in messages %}
          {% if category != 'table' and category != 'rating' %}
              {{message}}
          {% endif %}
      {% endfor %}

      {% endif %}
      {% endwith %}
    {% endif %}

</div>
    {% if is_rated == False %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="container">
          <h2>Topic Table</h2>
      </div>

      <div style="margin: 0 50px">
          {% for category, message in messages %}
              {% if category == 'table' %}
                  {{message}}
              {% endif %}
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    {% endif %}
</div>
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}
