{% extends "bootstrap/base.html" %}
{% block title %}Literature Recommendation Software (v0.2.4){% endblock %}
{% block head %}
  {{ super() }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- <script src="src/bootstrap-rating-input.js"></script> -->
  <script src="{{url_for('static', filename='js/bootstrap-rating-input.min.js')}}"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">

{% endblock %}

{% block content %}

{% endblock %}


http://jsfiddle.net/6m9gf2a2/
